@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');


/* Navbar styling */
* {
    margin: 0;
    padding: 0;
}

/* About ME */

/* Left_side */
.left-side {
    height: 100vh;
    width: 40%;
    float: left;
    background-color: #f0dee7;
}

.cart-container {
    display: flex;
    margin-left: 50vh;
    margin-top: 10vh;
    padding-bottom: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0 50px 50px #757676;
    width: 50vh;
}

.cart-container-image {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 50vh;
    background-color: rgb(239, 225, 234);
}

.cart-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.cart-image img {
    width: 100%;
    height: auto;
}

.cart-details {
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 225, 234);
}

.cart-details h1 {
    background-color: rgb(239, 225, 234);
}

.cart-details hr {
    background-color: #0051ff;
    height: 2px;
}

.cart-details p {
    font-size: 20px;
    background-color: rgb(239, 225, 234);
}

.cart-social-links {
    columns: 3 auto;
}

.cart-social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.cart-social-links a:hover {
    opacity: 0.7;
    /* darker blue color on hover */
}


/* Right_Side */
.right-side {
    height: 100vh;
    width: 60%;
    float: left;
}

.right-side-resume {
    display: inline;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 50vh;
    margin-left: 30vh;
    margin-top: 10vh;
    float: left;
}

.right-side-resume h1 {
    font-size: 15vh;
}

.right-side-resume h2 {
    margin: 20px 0 20px;
    font-size: 3vh;
}

.btn {
    border: none;
    color: #3e3eed;
    padding: 16px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnLeft {
    background-color: #3e3eed;
    color: rgb(255, 255, 255);
    border: 2px solid #3e3eed;
}

.btnLeft:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #3e3eed;
}

.btnRight {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

.btnRight:hover {
    background-color: #3e3eed;
    color: #ffffff;
    border: 2px solid #3e3eed;
}

.right-side-resume p {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ysabeau', sans-serif;
}


/* About ME */

@media screen and (max-width: 1001px) {
    body{
        background-color: #f0dee7;;
    }
    .left-side {
        width: 0;
    }

    .cart-container {
        width: 0;
        margin-left: 40vh;
        background-color: #f0dee7;
    }

    .cart-container-image {
        margin-right: 40px;
    }
    

    .cart-social-links {
        margin-right: 40px;
    }

    .cart-image{
        margin: 10px;
    }
    .right-side {
        display: flex;
        margin-top: 80vh;
        width: 100%;
    }

    .right-side-resume {
        width: 40vh;
        margin-left: 15vh;
    }
}