@charset "UTF-8";

body{
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	background-color: #f0dee7;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20vh;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    margin: 10px 0;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    input, textarea {
      width: 100%;
    }
  }
