<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Resume-Portfolio-websites</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/stylecontact.css}">
	<link rel="stylesheet" th:href="@{/css/navbarAndFooter.css}">
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">


<body>
	<!-- Navbar strat -->
	<nav>
		<div class="logo">G.P.R</div>
		<ul class="nav-links">
			<li><a th:href="@{/index}" class="active">ABOUT ME</a></li>
			<li> <a th:href="@{/experience}">EMPLOYMENT</a></li>
			<li><a th:href="@{/education}">EDUCATION</a></li>
			<li><a th:href="@{/project}">PROJECTS</a></li>
			<li><a th:href="@{/contact}">CONTACT</a></li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<!-- Navbar End -->

	<!-- Contact Us Form -->

	<form th:action="@{/contact}" method="post">
		<h2>Contact Us</h2>
		<div class="form-group">
			<label for="fullname">Full Name</label>
			<input type="text" id="fullname" name="full-name" required maxlength="45">
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" required maxlength="45">
		</div>
		<div class="form-group">
			<label for="subject">Subject</label>
			<input type="text" id="subject" name="subject" required minlength="10" maxlength="200">
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea id="content" name="content" required minlength="10" maxlength="2000"></textarea>
		</div>
		<input type="Submit" value="Send">
	</form>
	<!-- Contact Us Form -->


	<!-- Footer strat -->
	<footer>
		<div class="left">
			<div class="logo">G.P.R</div>
			<p>© 2023 Gaurav-Pant Inc.</p>
		</div>
		<div class="middle">
			<p>Email: info@gauravpant.com</p>
			<p>Call: 1-800-123-4567</p>
		</div>
		<div class="right">
			<a th:href="@{https://www.linkedin.com/in/gauravpant}"><i class="fa fa-linkedin" style="color: blue;"></i></a>
			<a th:href="@{https://github.com/GauravPant47}"><i class="fa fa-github" style="color: black;"></i></a>
			<a th:href="@{https://twitter.com/gauravpant63469}"><i class="fa fa-twitter" style="color: rgb(0, 102, 255);"></i></a>
		</div>
	</footer>
	<!-- Footer End -->
</body>
<script>
	const burger = document.querySelector('.burger');
	const nav = document.querySelector('.nav-links');

	burger.addEventListener('click', () => {
		nav.classList.toggle('show');
		burger.classList.toggle('nav-active');
	});
</script>

</html>