<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Resume-Portfolio-websites</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/resumeStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navbarAndFooter.css}">

<body>
	<!-- Navbar strat -->
	<nav>
		<div class="logo">G.P.R</div>
		<ul class="nav-links">
			<li><a th:href="@{/index}" class="active">ABOUT ME</a></li>
			<li> <a th:href="@{/experience}">EMPLOYMENT</a></li>
			<li><a th:href="@{/education}">EDUCATION</a></li>
			<li><a th:href="@{/project}">PROJECTS</a></li>
			<li><a th:href="@{/contact}">CONTACT</a></li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<!-- Navbar End -->

	<!-- About Me -->
        <div class="cart-header">
            Education
        </div>
        <div class="cart">
            <label class="right color">Post Graduate, Full Stack Web Development</label>
            <label class="right">Skill-Lync</label>
			<label class="right">Porur, Chennai, Tamil Nadu, India</label>
            <label class="right">Sep 2022 Started</label>
            <label class="right">I studied Java, Databases, and the Spring Boot Framework at Skill-Link. Additionally, I learned to work with Git and GitHub, as well as Docker.</label>
        </div>
        <div class="cart">
            <label class="right color">Bachelor of Technology</label>
            <label class="right">Radha Govind Group Of Collegess</label>
            <label class="right">Moradabad district, Uttar Pradesh, India</label>
            <label class="right">3 year of Course(2020 to 2025)</label>
            <label class="right">Till now I achieve 70.38%. And I have 3 semesters more</label>
        </div>
        <div class="cart">
            <label class="right color">Diploma Mechanical</label>
            <label class="right">Uttarakhand Institute Of Technical & Professional Education</label>
            <label class="right">Nainital district, Uttarakhand, India</label>
            <label class="right">3 year of Course(2016 to 2019)</label>
            <label class="right">I have made 66.6% in this 3 years course</label>
        </div>
	<!-- About Me -->


	<!-- Footer strat -->
	<footer>
		<div class="left">
			<div class="logo">G.P.R</div>
			<p>© 2023 Gaurav-Pant Inc.</p>
		</div>
		<div class="middle">
			<p>Email: info@gauravpant.com</p>
			<p>Call: 1-800-123-4567</p>
		</div>
		<div class="right">
			<a href="https://www.linkedin.com/in/gaurav-pant-a31866175/"><i class="fa fa-linkedin" style="color: blue;"></i></a>
			<a href="https://github.com/GauravPant47"><i class="fa fa-github" style="color: black;"></i></a>
			<a href="https://twitter.com/gauravpant63469"><i class="fa fa-twitter" style="color: rgb(0, 102, 255);"></i></a>
		</div>
	</footer>
	<!-- Footer End -->
</body>
<script>
	const burger = document.querySelector('.burger');
	const nav = document.querySelector('.nav-links');

	burger.addEventListener('click', () => {
		nav.classList.toggle('show');
		burger.classList.toggle('nav-active');
	});
</script>

</html>