<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Resume-Portfolio-websites</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/resumeStyle.css}">

<body>
	<!-- Navbar strat -->
	<div class="navbar">
		<div class="logo">G.P.R</div>
		<a th:href="@{/index}" class="active">ABOUT ME</a>
		<a th:href="@{/experience}">EMPLOYMENT</a>
		<a th:href="@{/education}">EDUCATION</a>
		<a th:href="@{/project}">PROJECTS</a>
		<a th:href="@{/contact}">CONTACT</a>
	</div>
	<!-- Navbar End -->

	<!-- About Me -->
	<div class="cart-header">
		Employment
		<a th:href="@{/employment}"><button class="btn btnLeft">DOWNLOAD</button></a>
	</div>
	<div class="cart">
		<label class="right color">Operations Analyst</label>
		<label class="right">OnGrid - Background verification platform</label>
		<label class="right">Gurugram, Haryana, India</label>
		<label class="right">Nov 2020 to Jul 2022 (1 year 9 months)</label>
		<label class="right">My responsibilities for this company were Field Onboarding, Field management
			and Cluster
			Checking, Daily Data Dump Generation, Data Assignment, and Data Entry</label>
	</div>
	<div class="cart">
		<label class="right color">Quality Inspector</label>
		<label class="right">Motherson Sumi Systems</label>
		<label class="right">Kutch district, Gujarat, India</label>
		<label class="right">Jun 2019 to Sep 2020 (1 year 4 months)</label>
		<label class="right">In this company, my job was manpower handling daily Production output and quality
			maintenance and Daily Production Planning.</label>
	</div>
	<!-- About Me -->
	<!-- Footer strat -->
	<footer class="footer">
		<div class="footer-left">&copy; 2023 Gaurav-Pant Inc.</div>
		<div class="footer-right">
			<div class="footer-contact">
				<a href="tel:+1234567890">Call: +1 (234) 567-890</a>
			</div>
			<div class="footer-contact">
				<a href="mailto:contact@gauravpant.com">Email: contact@gauravpant.com</a>
			</div>
			<div class="footer-social-media">
				<a th:href="@{https://www.linkedin.com/in/gauravpant}"><i class="fa fa-linkedin"
						style="color: blue;"></i></a>
				<a th:href="@{https://github.com/GauravPant47}"><i class="fa fa-github"></i></a>
				<a th:href="@{https://twitter.com/gauravpant63469}"><i class="fa fa-twitter"
						style="color: rgb(0, 102, 255);"></i></a>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
	<!-- Add a JavaScript file to handle the form submission and display the job description -->
	<script th:src="@{/js/cart.js}"></script>
</body>

</html>