<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Resume-Portfolio-websites</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/resumeStyle.css}">
<link rel="stylesheet" th:href="@{/css/navbarAndFooter.css}">
<body>
	<!-- Navbar strat -->
	<nav>
		<div class="logo">G.P.R</div>
		<ul class="nav-links">
			<li><a th:href="@{/index}" class="active">ABOUT ME</a></li>
			<li><a th:href="@{/experience}">EMPLOYMENT</a></li>
			<li><a th:href="@{/education}">EDUCATION</a></li>
			<li><a th:href="@{/project}">PROJECTS</a></li>
			<li><a th:href="@{/contact}">CONTACT</a></li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<!-- Navbar End -->

	<!-- About Me -->
	<div class="cart-header">
		Employment 
		<a class="btn btnLeft" th:href="@{/experience/new}">New Post</a>
	</div>
	<div class="cart" th:each="experience : ${experience}">
	<a class="btn" th:href="@{/experience/delete(id=${experience.id})}">Delete</a>
		<a class="right color"th:text="${experience.title}">Title</a>
		<h5 class="right" th:text="${experience.companyname}">Company Name</h5>
		<h5 class="right" th:text="${experience.location}">Location</h5>
		<h5 class="right" th:text="${experience.workingyear}">Working Year</h5>
		<p class="right" th:text="${experience.description}">Description</p>
		<br /> 
	</div>
	<hr />


	<!-- About Me -->

	<!-- Footer strat -->
	<footer>
		<div class="left">
			<div class="logo">G.P.R</div>
			<p>© 2023 Gaurav-Pant Inc.</p>
		</div>
		<div class="middle">
			<p>Email: info@gauravpant.com</p>
			<p>Call: 1-800-123-4567</p>
		</div>
		<div class="right">
			<a href="https://www.linkedin.com/in/gaurav-pant-a31866175"><i
				class="fa fa-linkedin" style="color: blue;"></i></a> <a
				href="https://github.com/GauravPant47"><i class="fa fa-github"
				style="color: black;"></i></a> <a
				href="https://twitter.com/gauravpant63469"><i
				class="fa fa-twitter" style="color: rgb(0, 102, 255);"></i></a>
		</div>
	</footer>
	<!-- Footer End -->
</body>
<script>
	const burger = document.querySelector('.burger');
	const nav = document.querySelector('.nav-links');

	burger.addEventListener('click', () => {
		nav.classList.toggle('show');
		burger.classList.toggle('nav-active');
	});
</script>

</html>