<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Resume-Portfolio-websites</title>
    <link rel="stylesheet" href="./cssStyle/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    <!-- Navbar strat -->
    <div class="navbar" style="position: sticky;">
        <div class="logo">G.P.R</div>
        <a href="./index.html" class="active">ABOUT ME</a>
        <a href="./resume.html">RESUME</a>
        <a href="./project.html">PROJECTS</a>
        <a href="./contact.html">CONTACT</a>
    </div>
    <!-- Navbar End -->

    <!-- About Me -->

    <div class="left-side">
        <!-- content for left side goes here -->

        <div class="cart-container">
            <div class="cart-container-image">
                <div class="cart-image">
                    <img id="cart-image-preview" src="../static/IMG_20210414_084158499.jpg">
                </div>
                <div class="cart-details">
                    <h1>Gaurav Pant</h1><br>
                    <hr><br>
                    <p>PROJECT MANAGER</p>
                </div>
            </div>
            <div class="cart-social-links">
                <a href="https://www.linkedin.com/in/gauravpant"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                <a href="https://github.com/GauravPant47"><i class="fa fa-github" style="color: black;"></i></a>
                <a href="https://twitter.com/gauravpant63469"><i class="fa fa-twitter"
                        style="color: rgb(0, 102, 255);"></i></a>
            </div>
        </div>
    </div>
    <div class="right-side">
        <!-- content for right side goes here -->
        <div class="right-side-resume">
            <h1>Hello</h1>
            <h2>Here's who I am & what I do</h2>
            <a href="./resume.html"><button class="btn btnLeft">RESUME</button></a>
            <a href="./project.html"><button class="btn btnRight">PROJECT</button></a>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates incidunt, alias voluptatum numquam
                itaque doloribus inventore, quaerat provident autem quia magni tempora repellat. Eius molestias, veniam
                voluptatem natus praesentium animi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto omnis inventore, dolor accusantium
                voluptatem neque voluptatum quo deleniti. Obcaecati officia</p>
        </div>
        <!-- <div>
            
        </div> -->


    </div>

    <!-- About Me -->


    <!-- Footer strat -->
    <footer class="footer">
        <div class="footer-left">&copy; 2023 Gaurav-Pant Inc.</div>
        <div class="footer-right">
            <div class="footer-contact">
                <a href="tel:+1234567890">Call: +1 (234) 567-890</a>
            </div>
            <div class="footer-contact">
                <a href="mailto:contact@gauravpant.com">Email: contact@gauravpant.com</a>
            </div>
            <div class="footer-social-media">
                <a href="https://www.linkedin.com/in/gauravpant"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                <a href="https://github.com/GauravPant47"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/gauravpant63469"><i class="fa fa-twitter"
                        style="color: rgb(0, 102, 255);"></i></a>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>


</html>