<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Resume-Portfolio-websites</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/navbarAndFooter.css}">
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

	<link rel="stylesheet" th:href="@{/css/resumeStyle.css}">

<body>
	<!-- Navbar strat -->
	<nav>
		<div class="logo">G.P.R</div>
		<ul class="nav-links">
			<li><a th:href="@{/index}" class="active">ABOUT ME</a></li>
			<li> <a th:href="@{/experience}">EMPLOYMENT</a></li>
			<li><a th:href="@{/education}">EDUCATION</a></li>
			<li><a th:href="@{/project}">PROJECTS</a></li>
			<li><a th:href="@{/contact}">CONTACT</a></li>
		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<!-- Navbar End -->

	<!-- About Me -->
	<div class="cart-header">
		Project
	</div>
	<div class="cart">
		<label class="right color">Operations Analyst</label>
		<label class="right">OnGrid - Background verification platform</label>
		<label class="right">Gurugram, Haryana, India</label>
		<label class="right">Nov 2020 to Jul 2022 (1 year 9 months)</label>
		<label class="right">My responsibilities for this company were Field Onboarding, Field management
			and Cluster
			Checking, Daily Data Dump Generation, Data Assignment, and Data Entry</label>
	</div>
	<div class="cart">
		<label class="right color">Quality Inspector</label>
		<label class="right">Motherson Sumi Systems</label>
		<label class="right">Kutch district, Gujarat, India</label>
		<label class="right">Jun 2019 to Sep 2020 (1 year 4 months)</label>
		<label class="right">In this company, my job was manpower handling daily Production output and quality
			maintenance and Daily Production Planning.</label>
	</div>
	<!-- About Me -->


	<!-- Footer strat -->
	<footer>
		<div class="left">
			<div class="logo">G.P.R</div>
			<p>© 2023 Gaurav-Pant Inc.</p>
		</div>
		<div class="middle">
			<p>Email: info@gauravpant.com</p>
			<p>Call: 1-800-123-4567</p>
		</div>
		<div class="right">
			<a href="https://www.linkedin.com/in/gauravpant"><i class="fa fa-linkedin" style="color: blue;"></i></a>
			<a href="https://github.com/GauravPant47"><i class="fa fa-github"></i></a>
			<a href="https://twitter.com/gauravpant63469"><i class="fa fa-twitter"
					style="color: rgb(0, 102, 255);"></i></a>
		</div>
	</footer>
	<!-- Footer End -->
</body>
<script>
	const burger = document.querySelector('.burger');
	const nav = document.querySelector('.nav-links');

	burger.addEventListener('click', () => {
		nav.classList.toggle('show');
		burger.classList.toggle('nav-active');
	});
</script>

</html>