<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Resume-Portfolio-websites</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/resumeStyle.css}">

<body>
	<!-- Navbar strat -->
	<div class="navbar">
		<div class="logo">G.P.R</div>
		<a th:href="@{/index.html}" class="active">ABOUT ME</a>
		<a th:href="@{/resume}">Experience</a>
		<a th:href="@{/project.html}">PROJECTS</a>
		<a th:href="@{/contact.html}">CONTACT</a>
	</div>
	<!-- Navbar End -->

	<!-- About Me -->


	<h1 class="hide">Designation</h1>
	<h1 class="hide">Compan-yName</h1>
	<h1 class="hide">Total-Experience</h1>
	<h1 class="hide">Job-Profile</h1>
	<div class="cart">
		<div class="cart-header">
			Experience
		</div>
		<table>
			<tr th:each="ExperienceModel: ${resume}">
			<tr>
				<td th:text="${ExperienceModel.Designation}" class="color"></td>
			</tr>
			<tr>
				<td th:text="${ExperienceModel.Company-Name}"></td>
			</tr>
			<tr>
				<td th:text="${ExperienceModel.Total-Experience}"></td>
			</tr>
			<tr>
				<td th:text="${ExperienceModel.Job-Profile}"></td>
			</tr>
			</tr>
		</table>
	</div>
	<!-- About Me -->


	<!-- Footer strat -->
	<footer class="footer">
		<div class="footer-left">&copy; 2023 Gaurav-Pant Inc.</div>
		<div class="footer-right">
			<div class="footer-contact">
				<a href="tel:+1234567890">Call: +1 (234) 567-890</a>
			</div>
			<div class="footer-contact">
				<a href="mailto:contact@gauravpant.com">Email: contact@gauravpant.com</a>
			</div>
			<div class="footer-social-media">
                <a th:href="@{https://www.linkedin.com/in/gauravpant}"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                <a th:href="@{https://github.com/GauravPant47}"><i class="fa fa-github"></i></a>
                <a th:href="@{https://twitter.com/gauravpant63469}"><i class="fa fa-twitter"
                        style="color: rgb(0, 102, 255);"></i></a>
            </div>
		</div>
	</footer>
	<!-- Footer End -->
	<!-- Add a JavaScript file to handle the form submission and display the job description -->
	<script th:src="@{/js/cart.js}"></script>
</body>

</html>